.btn-curve{
    border-radius: 10px;
}

.card-option{
    background-color: whitesmoke;
    border-width: 5px;
    border-color: black;
}

.btn-curve:hover{
    background-color: darkblue;
}

.box-shadow{
  border-radius: 10px !important;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.disabled{
    cursor: not-allowed;
}