.top-bar {
  display: flex;
  /* flex-direction: column;
    /* flex-grow: 1; */
  text-align: center;
  place-content: center;
  /* justify-content: space-around;  */
  /* padding: 40px; */
}
.top-bar div {
  font-weight: 600;
  margin: 5px 0;
  font-size: 1.2rem;
}
.topbar-input input {
  border-color: rgba(100, 100, 100, 0.171);
  box-shadow: none;
  margin: 5px 0;
}
.entry-details > h3 {
  text-align: left;
  padding-left: 50px;
}
.topbar-entry {
  display: flex;
  flex-direction: column;
  position: sticky;
  /* flex-grow: 1; */
  font-size: smaller;
  /* margin-left: 300px; */
  text-align: left;
  justify-content: space-between;
  padding: 10px 40px 40px 40px;
}
.button-group {
  margin: 30px 0 40px 0;
}
.topbar-input {
  display: flex;
  /* margin-right: 400px; */
  flex-direction: column;
  width: min-content;
  padding: 10px 40px 40px 40px;
}
.body-group {
  /* border: 1px solid red; */
  margin-top: 51px;
  margin-bottom: -20px;
}

.add-button {
  border-radius: 20px;
  color: white;
  font-size: 1.4rem;
  background-color: #124191;
  width: 100px;
  font-weight: normal;
  padding: 7px;
  transition: ease-in 400ms;
}
.add-button:hover {
  cursor: pointer;
  background-color: azure;
  color: rgb(0, 74, 80);
  transform: scale(1.02);
}
.modify-button {
  border-radius: 20px;
  color: white;
  font-size: 1.4rem;
  background-color: #124191;
  width: 185px;
  margin-left: 10px;
  font-weight: normal;
  padding: 7px;
  transition: ease-in 400ms;
}
.modify-button:hover {
  cursor: pointer;
  background-color: azure;
  color: rgb(0, 74, 80);
  transform: scale(1.02);
}

.topbar-input > input {
  padding: 4px;
}
.entry-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 40px;
  /* text-align: center; */
  background: transparent;
  /* border: 2px solid rgb(0, 0, 0); */
  border-radius: 5px;
}
@media screen and (max-width: 112px) {
}
.footer-buttons {
  text-align: center;
  padding: 50px;
  background: rgb(205, 216, 216);
}
