.test-checklist-btn {
  position: absolute;
  bottom: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  border-radius: 28px;
}
.master-checklist-btn {
  position: absolute;
  bottom: 0;
  background: #cfd3da;
  /* background: transparent linear-gradient(180deg, #e6eaf2 0%, #ced2d9 100%) 0%
    0% no-repeat padding-box; */
  background-size: cover;
}
.videobtn {
  background: darkblue;
  color: white;
  width: 50px;
  border: none;
  margin: 5px;
  height: 50px;
  border-radius: 5px;
}

.progres-circle {
  height: 150px;
  width: 150px !important;
}
.prg-div {
  z-index: 1;
  position: fixed;
  right: 0.5%;
  top: 1%;
  height: 200px;
  width: 200px;
}
.data-title {
  color: #124191;
  font-weight: 700;
  font-size: 1.2em;
}
.data-text {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 400;
}
.video-content {
  left: -1.5%;
}
.disable-btn-tooltip {
  background-color: #124191;
  padding: 1rem;
  border-color: #124191 !important;
  font-size: 1rem;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

button {
  border-radius: 20px;
  border: 1px solid #124191;
  background-color: #124191;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.form-container form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.form-container input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.form-wrap {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 40%;
  max-width: 100%;
  min-height: 50%;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.form-section {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sign-in-container {
  left: 0;
  width: 100%;
  z-index: 2;
}

.form-wrap.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.form-wrap.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.form-wrap.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #124191;
  background: -webkit-linear-gradient(to right, #124191, #124191);
  background: linear-gradient(to right, #124191, #124191);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.form-wrap.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.form-wrap.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.form-wrap.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}
.login-page {
  height: 90vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .data-title {
    font-size: 16px;
  }
  .data-text {
    font-size: 14px;
  }
  .prg-div {
    height: 180px;
    width: 180px;
  }
}
.checklist_main_section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.checklist_title {
  text-transform: capitalize;
  color: #124191;
  margin: 1rem 0;
  text-align: center;
  position: relative;
}
.checklist_title::after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 50px;
  border-radius: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  border: 3px solid #124191;
}
.checklist_content_sec {
  height: max-content;
  margin: 2rem 0;
  width: 90vw;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.checklist_video_sec {
  height: 450px;
  width: 50%;
}
.checklist_video_sec span {
  color: #124191;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: capitalize;
}
.checklist_video_sec video {
  margin: 15px 0;
}
.checklist_list_sec {
  height: fit-content;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.check_points {
  width: 100%;
}
.check_points li:first-child {
  background-color: #124191;
  color: white;
  padding-left: 10px;
}
.check_points li:last-child {
  border-radius: 0 0 15px 15px;
}
.check_points li {
  list-style-type: none;
  background-color: white;
  color: #124191;
  width: 70%;
  padding: 5px 0 5px 30px;
}
